ICP7/Source/Temp conversion flow.json
[{"id":"6961626c.51b12c","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"d0436f9c.ee971","type":"function","z":"6961626c.51b12c","name":"celcius to farenheit","func":"var weather = msg.payload.tempc;\nweather = (weather * 9)/5 + 32;\nmsg.payload = weather;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["de7b1089.2d8b8"]]},{"id":"a8ce4c24.2f6c9","type":"openweathermap","z":"6961626c.51b12c","name":"","wtype":"current","lon":"","lat":"","city":"Lenexa","country":"US","language":"en","x":270,"y":140,"wires":[["d0436f9c.ee971"]]},{"id":"32331296.49e76e","type":"inject","z":"6961626c.51b12c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["a8ce4c24.2f6c9"]]},{"id":"de7b1089.2d8b8","type":"debug","z":"6961626c.51b12c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":140,"wires":[]}]