ICP 7/Source/LED blink flow.json
[{"id":"8f23c97b.742678","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d66c2105.0e227","type":"inject","z":"8f23c97b.742678","name":"0.5s tick","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":100,"y":320,"wires":[["ccebcb76.9699c8"]]},{"id":"5306b87b.a36db8","type":"arduino out","z":"8f23c97b.742678","name":"Yellow","pin":"8","state":"OUTPUT","arduino":"b0e4aecb.a89ea","x":710,"y":320,"wires":[]},{"id":"a19e864a.471c98","type":"function","z":"8f23c97b.742678","name":"Toggle output on input","func":"if(msg.payload){\n    context.set('level',0);\n    return [\n        {payload: false},\n        {payload: false},\n        {payload: false}\n        ];\n}\ncontext.set('level',(context.get('level') || 0)+1);\nif(context.get('level')>3){\n    context.set('level',1);\n}\nconst currentlevel = context.get('level');\nreturn[\n    {payload: currentlevel==1},\n    {payload: currentlevel==2},\n    {payload: currentlevel==3}\n    ];\n// var five = context.global.jfive;\n// var color = context.get('led') || \"Red\";\n\n// if(color == \"Red\"){\n//     var led = new five.Led(13);\n// led.blink(500);\n// }\n// else if(color == \"Yellow\"){\n//      context.set('led',\"Green\")\n//     var led = new five.Led(8);\n// led.blink(500);\n// }\n// else{\n//      var led = new five.Led(2);\n// led.blink(500);\n//     context.set('led',\"Red\")\n//     context.level = !context.level || false;\n// }\n\n// var led = new five.Led(13);\n// led.blink(500);\n\n\n// // var color = context.get('led') || \"Red\";\n// // var off = msg.payload;\n// // console.log(color);\n\n// // // set the payload to the level and return\n\n// // if(off == \"Off\"){\n// //   context.level = false;\n// //   msg.led=\" \";\n// // }\n// // else{\n// // msg.led = color;\n// // if(color == \"Red\"){\n// //     context.set('led',\"Yellow\")\n// //     context.level = !context.level || false;\n// // }\n// // else if(color == \"Yellow\"){\n// //     context.set('led',\"Green\")\n// //     context.level = !context.level || false;\n// // }\n// // else{\n// //     context.set('led',\"Red\")\n// //     context.level = !context.level || false;\n// // }\n// // }\n// msg.payload = context.level;\n// return msg;","outputs":3,"noerr":0,"x":460,"y":320,"wires":[["17d65e8.c8c7fa2"],["5306b87b.a36db8"],["76a757ad.132188"]]},{"id":"17d65e8.c8c7fa2","type":"arduino out","z":"8f23c97b.742678","name":"Red","pin":"13","state":"OUTPUT","arduino":"b0e4aecb.a89ea","x":710,"y":180,"wires":[]},{"id":"76a757ad.132188","type":"arduino out","z":"8f23c97b.742678","name":"Green","pin":"2","state":"OUTPUT","arduino":"b0e4aecb.a89ea","x":710,"y":420,"wires":[]},{"id":"ccebcb76.9699c8","type":"ui_switch","z":"8f23c97b.742678","name":"","label":"switch","tooltip":"","group":"ec0fd826.510d98","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":320,"wires":[["a19e864a.471c98"]]},{"id":"b0e4aecb.a89ea","type":"arduino-board","z":"","device":"COM3"},{"id":"ec0fd826.510d98","type":"ui_group","z":"","name":"ICP 5","tab":"b811944c.4a41d8","disp":true,"width":"6","collapse":false},{"id":"b811944c.4a41d8","type":"ui_tab","z":"","name":"ICP 5","icon":"dashboard","disabled":false,"hidden":false}]