ICP 7/Source/Lowercase flow.json
[{"id":"8d9c9888.0da788","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"c734f587.8840b8","type":"lower-case","z":"8d9c9888.0da788","name":"","x":364,"y":93,"wires":[["2bc1aac7.25e346"]]},{"id":"8fdda96c.a68758","type":"inject","z":"8d9c9888.0da788","name":"","topic":"","payload":"ANTHONY","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":214,"y":93,"wires":[["c734f587.8840b8"]]},{"id":"2bc1aac7.25e346","type":"debug","z":"8d9c9888.0da788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":524,"y":93,"wires":[]}]