ICP 6/Source/Range.json
[{"id":"a5dcc974.9d96a8","type":"tab","label":"Range","disabled":false,"info":""},{"id":"70ef7e5.c87fb8","type":"inject","z":"a5dcc974.9d96a8","name":"","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":163.75,"y":247.5,"wires":[["86a175bc.22ba88"]]},{"id":"f4527893.e73f98","type":"inject","z":"a5dcc974.9d96a8","name":"","topic":"","payload":"512","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":163.75,"y":287.5,"wires":[["86a175bc.22ba88"]]},{"id":"af278eb9.47c92","type":"inject","z":"a5dcc974.9d96a8","name":"","topic":"","payload":"1023","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":163.75,"y":327.5,"wires":[["86a175bc.22ba88"]]},{"id":"86a175bc.22ba88","type":"range","z":"a5dcc974.9d96a8","minin":"0","maxin":"1024","minout":"0","maxout":"5","action":"scale","round":false,"property":"payload","name":"","x":343.75,"y":287.5,"wires":[["34dfc05c.f3cfd"]]},{"id":"34dfc05c.f3cfd","type":"debug","z":"a5dcc974.9d96a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":501,"y":287,"wires":[]}]