ICP5/Source/flows.json
[{"id":"812bd71.090b128","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"42fd5801.5cd888","type":"debug","z":"812bd71.090b128","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":60,"wires":[]},{"id":"c664139c.ac5ec","type":"inject","z":"812bd71.090b128","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["846713ae.a74bd"]]},{"id":"bf707878.1372a8","type":"function","z":"812bd71.090b128","name":"TweetAndMessage","func":"var weather = msg.payload.description;\nmsg.payload = weather;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["42fd5801.5cd888","ec029b2a.419628","6bb6ee08.3aee3"]]},{"id":"ec029b2a.419628","type":"e-mail","z":"812bd71.090b128","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"anthonyvyos@gmail.com","dname":"","x":690,"y":180,"wires":[]},{"id":"846713ae.a74bd","type":"openweathermap","z":"812bd71.090b128","name":"","wtype":"current","lon":"","lat":"","city":"Kansas","country":"USA","language":"en","x":270,"y":120,"wires":[["bf707878.1372a8"]]},{"id":"6bb6ee08.3aee3","type":"twitter out","z":"812bd71.090b128","twitter":"","name":"Tweet","x":650,"y":120,"wires":[]}]