ICP6/Source/Range RBE.json
[{"id":"2f0b58c9.c42148","type":"tab","label":"RBE Flow","disabled":false,"info":""},{"id":"ce8b9209.bde95","type":"inject","z":"2f0b58c9.c42148","name":"","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["52597207.3fbebc"]]},{"id":"cc4fb445.1ef318","type":"inject","z":"2f0b58c9.c42148","name":"","topic":"","payload":"512","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["52597207.3fbebc"]]},{"id":"d993af42.1ca84","type":"inject","z":"2f0b58c9.c42148","name":"","topic":"","payload":"1023","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["52597207.3fbebc"]]},{"id":"52597207.3fbebc","type":"range","z":"2f0b58c9.c42148","minin":"0","maxin":"1024","minout":"0","maxout":"5","action":"scale","round":false,"property":"payload","name":"","x":310,"y":200,"wires":[["9749ffc0.187cf"]]},{"id":"9749ffc0.187cf","type":"rbe","z":"2f0b58c9.c42148","name":"","func":"deadband","gap":"20%","start":"","inout":"out","property":"payload","x":460,"y":200,"wires":[["68f825d2.66781c"]]},{"id":"68f825d2.66781c","type":"debug","z":"2f0b58c9.c42148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":200,"wires":[]}]