ICP6/Source/Range RBE.json
[{"id":"d93959c5.d3d578","type":"tab","label":"RBE Flow","disabled":false,"info":""},{"id":"e38ace87.49a49","type":"range","z":"d93959c5.d3d578","minin":"0","maxin":"1024","minout":"0","maxout":"5","action":"scale","round":false,"property":"payload","name":"0 - 5","x":270,"y":320,"wires":[["de5638ef.a98f78"]]},{"id":"f3eea8d2.8f0908","type":"inject","z":"d93959c5.d3d578","name":"300","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["e38ace87.49a49"]]},{"id":"e8b681f1.bd28d","type":"inject","z":"d93959c5.d3d578","name":"512","topic":"","payload":"512","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["e38ace87.49a49"]]},{"id":"c4df0dbf.4973","type":"inject","z":"d93959c5.d3d578","name":"1023","topic":"","payload":"1023","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["e38ace87.49a49"]]},{"id":"e874af88.51f6d","type":"debug","z":"d93959c5.d3d578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":320,"wires":[]},{"id":"de5638ef.a98f78","type":"rbe","z":"d93959c5.d3d578","name":"","func":"deadband","gap":"15","start":"","inout":"out","property":"payload","x":400,"y":320,"wires":[["e874af88.51f6d"]]}]