ICP6/Source/Range.json
[{"id":"31951419.1a12cc","type":"tab","label":"Range Flow","disabled":false,"info":""},{"id":"853d2a25.0aacf8","type":"range","z":"31951419.1a12cc","minin":"0","maxin":"1024","minout":"0","maxout":"5","action":"scale","round":false,"property":"payload","name":"0 - 5","x":310,"y":300,"wires":[["4dbbb661.a3b928"]]},{"id":"db3965f1.fc83d8","type":"inject","z":"31951419.1a12cc","name":"300","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["853d2a25.0aacf8"]]},{"id":"9fa89f83.ba562","type":"inject","z":"31951419.1a12cc","name":"512","topic":"","payload":"512","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["853d2a25.0aacf8"]]},{"id":"e26bad4e.127ef","type":"inject","z":"31951419.1a12cc","name":"1023","topic":"","payload":"1023","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["853d2a25.0aacf8"]]},{"id":"4dbbb661.a3b928","type":"debug","z":"31951419.1a12cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":300,"wires":[]}]