ICP6/Source/Switch & Change.json
[{"id":"2104d1a9.2674be","type":"tab","label":"Switch & Change Flow","disabled":false,"info":""},{"id":"d4ee5034.d308f","type":"inject","z":"2104d1a9.2674be","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["a67175e7.bbd2c8"]]},{"id":"a67175e7.bbd2c8","type":"function","z":"2104d1a9.2674be","name":"RNG","func":"var num = Math.round(Math.random()*100)\nmsg.payload = num;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["1c1751d9.c91abe"]]},{"id":"1c1751d9.c91abe","type":"switch","z":"2104d1a9.2674be","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"num"},{"t":"lt","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":160,"wires":[["590a2ce2.726104"],["6e50fbfc.695064"]]},{"id":"590a2ce2.726104","type":"function","z":"2104d1a9.2674be","name":"msg 1","func":"msg.payload = \"a\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["cff0d4c6.41d848"]]},{"id":"6e50fbfc.695064","type":"function","z":"2104d1a9.2674be","name":"msg 2","func":"msg.payload=\"b\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["e569260d.7db068"]]},{"id":"cff0d4c6.41d848","type":"change","z":"2104d1a9.2674be","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"a","fromt":"str","to":"The a path","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":140,"wires":[["ae8d2456.311a18"]]},{"id":"e569260d.7db068","type":"change","z":"2104d1a9.2674be","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"b","fromt":"str","to":"The b path","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":180,"wires":[["ae8d2456.311a18"]]},{"id":"ae8d2456.311a18","type":"debug","z":"2104d1a9.2674be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":160,"wires":[]}]