ICP6/Source/Switch & Change.json
[{"id":"a023f407.f0a068","type":"tab","label":"Change Flow","disabled":false,"info":""},{"id":"4c56855d.26e96c","type":"debug","z":"a023f407.f0a068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":240,"wires":[]},{"id":"5e0a418.ef92fc","type":"inject","z":"a023f407.f0a068","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":240,"wires":[["7e8eb121.7ad3b"]]},{"id":"eb12d345.5e9ad","type":"change","z":"a023f407.f0a068","name":"ChangeNodeDemo","rules":[{"t":"change","p":"payload","pt":"msg","from":"hello","fromt":"str","to":"how are you","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":200,"wires":[["4c56855d.26e96c"]]},{"id":"7e8eb121.7ad3b","type":"function","z":"a023f407.f0a068","name":"RandomNum","func":"var num = Math.round (Math.random() * 100);\nmsg.payload = num;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":240,"wires":[["afed3475.324c48"]]},{"id":"afed3475.324c48","type":"switch","z":"a023f407.f0a068","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"str"},{"t":"lt","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":240,"wires":[["4b4a9535.07a75c"],["1b0a2600.40e3ca"]]},{"id":"4b4a9535.07a75c","type":"function","z":"a023f407.f0a068","name":"Message1","func":"msg.payload = \"hello\";\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["eb12d345.5e9ad"]]},{"id":"1b0a2600.40e3ca","type":"function","z":"a023f407.f0a068","name":"Message2","func":"msg.payload = \"good\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["cbc0a937.34a308"]]},{"id":"cbc0a937.34a308","type":"change","z":"a023f407.f0a068","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"good","fromt":"str","to":"me too","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":280,"wires":[["4c56855d.26e96c"]]}]