ICP6/Source/Switch.json
[{"id":"bf572ab4.008a98","type":"tab","label":"Switch Flow","disabled":false,"info":""},{"id":"d6aaf293.e2cc6","type":"switch","z":"bf572ab4.008a98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"num"},{"t":"lt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":260,"wires":[["14eb279e.50f608"],["ea0c1971.6db958"]]},{"id":"e869163d.dcfea8","type":"inject","z":"bf572ab4.008a98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":260,"wires":[["3230ac1a.b47f24"]]},{"id":"3230ac1a.b47f24","type":"function","z":"bf572ab4.008a98","name":"RandomNumberGen","func":"num = Math.round (Math.random() * 100);\nmsg.payload = num;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["d6aaf293.e2cc6"]]},{"id":"14eb279e.50f608","type":"debug","z":"bf572ab4.008a98","name":"greather than 50","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":220,"wires":[]},{"id":"ea0c1971.6db958","type":"debug","z":"bf572ab4.008a98","name":"less than 50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":300,"wires":[]}]