ICP6/Source/Switch.json
[{"id":"98ad2dd2.f093b","type":"tab","label":"Switch Flow","disabled":false,"info":""},{"id":"6406e65f.0f6d28","type":"inject","z":"98ad2dd2.f093b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":140,"wires":[["6d8cb5d6.ecd7dc"]]},{"id":"6d8cb5d6.ecd7dc","type":"function","z":"98ad2dd2.f093b","name":"RNG","func":"var num = Math.round(Math.random()*100)\nmsg.payload = num;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":140,"wires":[["a96a77e0.01cd08"]]},{"id":"a96a77e0.01cd08","type":"switch","z":"98ad2dd2.f093b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"num"},{"t":"lt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":140,"wires":[["ab774adb.de6888"],["4d6797c7.83d488"]]},{"id":"ab774adb.de6888","type":"debug","z":"98ad2dd2.f093b","name":">= 50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":100,"wires":[]},{"id":"4d6797c7.83d488","type":"debug","z":"98ad2dd2.f093b","name":"< 50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":180,"wires":[]}]